@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Figtree:ital,wght@0,300..900;1,300..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
   --color1: #3a4151;
   --selected: #0e0e0e;
}

*:not(.skill *) {
   font-family: 'Figtree';
   color: var(--color1);
   outline: none;
}

body {
   height: 100vh;
   margin: 0;
}

.particles {
   position: fixed;
   z-index: -1;
}

p {
   font-weight: 600;
   max-width: 500px;
}

.red {
   color: #f3023d;
}

header {
   display: flex;
   width: 100%;
   justify-content: space-between;
   padding: 20px 5vw;
   box-sizing: border-box;
   align-items: center;
}

header button,
header label {
   box-sizing: border-box;
   border: none;
   outline: none;
   background-color: unset;
   text-transform: uppercase;
   font-weight: 500;
   transition: filter 0.3s;
}

header nav button {
   margin: 0 50px;
}

header button:hover,
header label:hover {
   filter: contrast(1.5);
}

header button.focused,
header label.focused {
   font-weight: 700;
}

header input[name='lang']:checked + label {
   font-weight: 700;
}

main > *,
.particles canvas {
   position: relative;
   opacity: 0;
   top: 100px;
   animation: anim 1s forwards;
}

@keyframes anim {
   to {
      opacity: 1;
      top: 0;
   }
}

main {
   display: flex;
   width: 100%;
   justify-content: center;
   align-items: center;
   height: 100%;
}

.cvButton {
   background-color: #f3023d;
   border: none;
   outline: none;
   color: white;
   padding: 15px 30px;
   text-transform: uppercase;
   font-weight: 600;
   transition:
      background-color 0.3s,
      border-radius 0.3s;
   text-decoration: none;
}

.cvButton:hover {
   background-color: var(--selected);
   border-radius: 10px;
}

.rounded {
   border-radius: 50%;
   width: 25vw;
   flex: 1;
   aspect-ratio: 1/1;
   /* width: 500px; */
   /* height: 500px; */
   object-fit: cover;
}

form.contactForm {
   background-color: var(--color1);
   padding: 40px;
   border-radius: 10px;
}

@media screen and (max-width: 800px) {
   form.contactForm {
      padding: 20px;
   }
}

.group {
   width: 100%;
   margin-bottom: 10px;
   overflow: hidden;
   position: relative;
}

.group label {
   position: absolute;
   top: 1.5em;
   color: rgba(255, 255, 255, 0.5);
   font: 400 0.8em Roboto;
   cursor: text;
   transition: 0.25s ease;
}

.group input {
   font-family: cursive;
   display: block;
   width: 100%;
   padding-top: 1.5em;
   border: none;
   border-radius: 0;
   color: white;
   background-color: transparent;
   font-size: 1em;
   transition: 0.3s ease;
}
.group input:valid ~ label {
   top: 0;
   font: 700 0.8em Roboto;
   color: rgba(255, 255, 255, 0.5);
}
.group input:focus {
   outline: none;
}
.group input:focus ~ label {
   top: 0;
   font: 700 0.8em Roboto;
   color: #2196f3;
}
.group input:focus ~ .bar:before {
   transform: translateX(0);
}
.group input:-webkit-autofill {
   -webkit-box-shadow: 0 0 0px 1000px #333 inset;
}

.group .bar {
   background: rgba(255, 255, 255, 0.5);
   content: '';
   width: 200px;
   height: 2px;
   transition: 0.3s ease;
   position: relative;
}
.group .bar:before {
   content: '';
   position: absolute;
   width: 100%;
   height: 150%;
   background: #2196f3;
   transform: translateX(-100%);
}
textarea {
   width: 30vw;
   overflow: hidden;
   background-color: #fff;
   color: #222;
   font-family: Courier, monospace;
   font-weight: normal;
   font-size: 24px;
   resize: none;
   line-height: 40px;
   padding-left: 100px;
   padding-right: 100px;
   padding-top: 45px;
   padding-bottom: 34px;
   margin: 10px;
   background-image: url(https://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png),
      url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);
   background-repeat: repeat-y, repeat;
   -webkit-border-radius: 12px;
   border-radius: 12px;
}

path {
   color: white;
}
